@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url('crew/background-crew-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

/* NAVBAR */

.navbarHeader {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 6em;
    width: 100%;
    gap: 2em;
    margin-top: 30px;
}

.navbarLogo {
    margin-left: 4em;
}

.navbarLine {
    position: relative;
    content: '';
    background-color: rgba(240, 240, 240, 0.2);
    width: 100%;
    left: 3em;
    height: 2px;
    z-index: 1;
}

.navbarBtnContainer {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(240, 240, 240, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 5rem;
    gap: 3em;
    text-decoration: none;
    list-style-type: none;
    white-space: nowrap;
    z-index: 9998;
}

span {
    font-weight: bold;
}

.navbarBtnContainer a {
    font-size: 16px;
    position: relative;
    white-space: nowrap;
}

.navbarIcons {
    font-size: 40px;
    cursor: pointer;
    display: none;
    right: 0;
    margin-left: auto;
}

#menu-icon {
    color: rgb(240, 240, 240);
}

#close-icon {
    color: rgba(36, 36, 36);
}

#check {
    display: none;
}

/* NAVBAR BUTTON LINE BELOW */

.btnActive, .btnToHover {
    text-decoration: none;
    color: rgb(240, 240, 240);
    position: relative;
}

.btnActive::after {
    position: absolute;
    content: "";
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: 0.6s ease;
}

.btnToHover::after {
    position: absolute;
    content: "";
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: 0.6s ease;
    opacity: 0;
}

.btnToHover:hover::after {
    opacity: 1;
}

/* MAIN BODY */

.homeBody {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin: 2em 0 2vw 0;
    height: 45em;
    width: 100%;    
}

/* TOP TEXT */
.TopText {
    display: flex;
    color: rgb(240, 240, 240);
    font-size: 30px;
    text-align: left;
}

.toFadeText {
    opacity: 0.3;
}

/* MAIN CONTENT TITLE */

.crewRoles {
    font-weight: normal;
    color: rgba(240, 240, 240, 0.5);
    font-size: 2.2em;
}

/* LEFT BODY */

.leftBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35em;
    height: 100%;
}

.mainDescription {
    display: flex;
    flex-direction: column;
}

.technologyBtn {
    display: flex;
    text-decoration: none;
    gap: 2em;
}

.selectionBtns {
    content: '';
    display: flex;
    font-size: 3em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background: rgba(240, 240, 240, 0.1);
    border: 2px solid rgba(240, 240, 240, 0.1);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: 0.5s ease;  
}

.selectionBtns:hover {
    border: 2px solid rgba(240, 240, 240);
}

.selectionBtns.active {
    background: rgba(240, 240, 240);
    color: rgba(36, 36, 36);
    border: 2px solid rgba(240, 240, 240);
}

.crewNames {
    font-size: 3em;
}

.crewAbout {
    line-height: 30px;
}

/* RIGHT BODY */
.rightBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    height: 100%;
}

.selectionImgContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.selectionImg {
    margin: 2em 0 0 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width:992px) {

    body {
        background-image: url('crew/background-crew-tablet.jpg');
    }

    /* NAVBAR */

    .navbarHeader {
        position: relative;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0px;
        gap: 3em;
    }

    .navbarLogo {
        width: 4rem;
        margin-left: 40px;
    }   

    .navbarBtnContainer {
        justify-content: space-evenly;
        gap: 0;
        background-color: rgba(36, 36, 36, 0.6);
        padding: 0 0 0 0;
    }

    .navbarBtnContainer a {
        font-size: 15px;
    }

    .navbarLine {
        display: none;
    }

    .btnActive, .btnToHover {
        text-decoration: none;
        color: rgb(240, 240, 240);
        position: relative;
    }
    .btnActive::after {
        position: absolute;
        content: "";
        bottom: -35px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: 0.6s ease;
    }

    .btnToHover::after {
        position: absolute;
        content: "";
        bottom: -35px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: 0.6s ease;
        opacity: 0;
    }
    
    .btnToHover:hover::after {
        opacity: 1;
    }

    /* BODY */

    .homeBody {
        margin-bottom: 30vw;
        flex-direction: column;
        width: 100%;
        gap: 5em;
    }

    .rightBody {
        display: flex;
        text-align: center;
        user-select: none;
        gap: 5em;
        width: 85%;
    }


    /* TOP TEXT */
    .TopText {
        color: rgb(240, 240, 240);
        font-size: 25px;
        text-align: left;
        margin: 2em 0em 4em 2em;
    }

    /* LEFT BODY */

    .leftBody {
        text-align: center;
        flex-direction: column;
        width: auto;
    }

    .mainDescription {
        gap: 1em;
        align-items: center;
    }

    .technologyBtn {
        margin: 2em 0 0 0;
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: row;
        text-decoration: none;
        gap: 2em;
    }

    .selectionBtns {
        font-size: 2em;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    .crewRoles {
        font-size: 5vw;
    }

    .crewNames {
        font-size: 7vw;
    }

    .crewAbout {
        width: 80%;
    }

    /* RIGHT BODY */

    .rightBody {
        grid-column: 1 / 2;
        grid-row: 1;
        width: 100%;
    }

    .selectionImgContainer {
        width: 100%;
    }

    .selectionImg {
        width: 50%;
    }
}

@media screen and (max-width:480px) {

    body {
        background-image: url('crew/background-crew-mobile.jpg');
    }

    /* NAVBAR */

    .navbarContainer {
        padding: 1em;
    }

    .navbarLogo {
        width: 3em;
        margin-left: 30px;
    }

    .navbarIcons {
        display: inline-flex;
        margin-right: 40px;
    }

    #close-icon {
        display: none;
    }

    #check:checked ~ .navbarIcons #close-icon {
        display: block;
        color: rgb(240, 240, 240);
        z-index: 9999;
    }

    #check:checked ~ .navbarIcons #menu-icon {
        display: none;
    }

    .navbarBtnContainer {
        position: absolute;
        display: flex;
        align-items: normal;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 25em 1em;
        gap: 3em;
        top: 0%;
        right: 0;
        width: 0;
        overflow: hidden;
        height: 60rem;
        backdrop-filter: blur(10px);
        background: rgba(36, 36, 36, 0.2);
        transition: .3s ease;
        opacity: 0;
    }

    #check:checked ~ .navbarBtnContainer {
        width: 60%;
        opacity: 1;
    }

    .navbarBtnContainer a {
        font-size: 25px;
        display: block;
        position: relative;
        color: rgb(240, 240, 240);
    }

    .btnActive::after {
        bottom: 0px;
        left: 250px;
        width: 10px;
        height: 100%;
    }

    .btnToHover::after {
        bottom: 0px;
        left: 250px;
        width: 10px;
        height: 100%;
        opacity: 0;
    }
    
    .btnToHover:hover::after {
        opacity: 1;
    }

    /* BODY */
    .homeBody {
        margin: 0 0 0 0;
    }

    .gridContainer {
        gap: 2em;
    }

    .TopText {
        font-size: 20px;
        text-align: center;
        margin: 2em 0em 0em 0em;
    }

    /* LEFT BODY */
    
    .leftBody {
        gap: 2em;
        align-items: center;
        justify-content: center;
    }

    .selectionBtns {
        height: 20px;
        width: 20px;
    }

    /* RIGHT BODY */

    .selectionImg {
        width: 60%;
    }
}