@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url('destination/background-destination-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

/* NAVBAR */

.navbarHeader {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 6em;
    width: 100%;
    gap: 2em;
    margin-top: 30px;
}

.navbarLogo {
    margin-left: 4em;
}

.navbarLine {
    position: relative;
    content: '';
    background-color: rgba(240, 240, 240, 0.2);
    width: 100%;
    left: 3em;
    height: 2px;
    z-index: 1;
}

.navbarBtnContainer {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(240, 240, 240, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 5rem;
    gap: 3em;
    text-decoration: none;
    list-style-type: none;
    white-space: nowrap;
    z-index: 9998;
}

span {
    font-weight: bold;
}

.navbarBtnContainer a {
    font-size: 16px;
    position: relative;
    white-space: nowrap;
}

.navbarIcons {
    font-size: 40px;
    cursor: pointer;
    display: none;
    right: 0;
    margin-left: auto;
}

#menu-icon {
    color: rgb(240, 240, 240);
}

#close-icon {
    color: rgba(36, 36, 36);
}

#check {
    display: none;
}

/* NAVBAR BUTTON LINE BELOW */

.btnActive, .btnToHover {
    text-decoration: none;
    color: rgb(240, 240, 240);
    position: relative;
}

.btnActive::after {
    position: absolute;
    content: "";
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: 0.6s ease;
}

.btnToHover::after {
    position: absolute;
    content: "";
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: 0.6s ease;
    opacity: 0;
}

.btnToHover:hover::after {
    opacity: 1;
}


/* MAIN BODY */

.gridContainer {
    align-items: center;
    display: grid;
    gap: 3vw;
    grid-template-columns: 1fr 1fr;
}

.homeBody {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 40em;
    width: 100%;
}

/* TOP TEXT */
.TopText {
    color: rgb(240, 240, 240);
    font-size: 30px;
    text-align: left;
    margin: 2em 0em 0em 5em;
}

/* MAIN CONTENT TITLE */

.technologyTitle {
    font-weight: normal;
    color: rgba(240, 240, 240, 0.5);
    font-size: 2.2em;
}

/* LEFT BODY */

.leftBody {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35em;
    height: 100%;
    gap: 2em;
}

.mainDescription {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.technologyBtn {
    display: flex;
    align-self: center;
    flex-direction: column;
    text-decoration: none;
    gap: 2em;
}

.selectionBtns {
    display: flex;
    font-size: 3em;
    color: rgb(240, 240, 240);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* .moonActiveBtn {
    font-size: 1.2em;
    color: rgb(240, 240, 240);
    text-decoration: none;
    position: relative;
}

.moonActiveBtn::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: 0.6s ease;
} 

.moonBtns::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: 0.6s ease;
    opacity: 0;
}

.moonBtns:hover::after {
    opacity: 1;
} */

.selectionsTitle {
    font-size: 3em;
}

.selectionDescription {
    line-height: 30px;
}

/* RIGHT BODY */
.rightBody {
    display: flex;
    flex-direction: column;
    user-select: none;
    gap: 8em;
}

.selectionImgContainer {
    display: flex;
    justify-content: center;
}

.selectionImg {
    width: 35vw;
}

.imgLandscape {
    display: none;
}

@media screen and (max-width:992px) {

    body {
        background-image: url('destination/background-destination-tablet.jpg');
    }

    /* NAVBAR */

    .navbarHeader {
        position: relative;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0px;
        gap: 3em;
    }

    .navbarLogo {
        width: 4rem;
        margin-left: 40px;
    }   

    .navbarBtnContainer {
        justify-content: space-evenly;
        gap: 0;
        background-color: rgba(36, 36, 36, 0.6);
        padding: 0 0 0 0;
    }

    .navbarBtnContainer a {
        font-size: 15px;
    }

    .navbarLine {
        display: none;
    }

    .btnActive, .btnToHover {
        text-decoration: none;
        color: rgb(240, 240, 240);
        position: relative;
    }
    .btnActive::after {
        position: absolute;
        content: "";
        bottom: -35px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: 0.6s ease;
    }

    .btnToHover::after {
        position: absolute;
        content: "";
        bottom: -35px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: 0.6s ease;
        opacity: 0;
    }
    
    .btnToHover:hover::after {
        opacity: 1;
    }

    /* BODY */

    .homeBody {
        padding-top: 5em;
        flex-direction: column;
        width: 100%;
        gap: 5em;
    }

    .rightBody {
        display: flex;
        text-align: center;
        user-select: none;
        gap: 5em;
        width: 85%;
    }

    .gridContainer {
        align-items: center;
        grid-template-columns: 1fr;
    }

    /* TOP TEXT */
    .TopText {
        color: rgb(240, 240, 240);
        font-size: 25px;
        text-align: left;
        margin: 2em 0em 0em 2em;
    }

    /* LEFT BODY */

    .leftBody {
        text-align: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .technologyBtn {
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: row;
        text-decoration: none;
        gap: 2em;
    }

    /* RIGHT BODY */

    .rightBody {
        grid-column: 1 / 2;
        grid-row: 1;
        width: 100%;
    }

    .selectionImgContainer {
        width: 100%;
    }

    .imgPortrait {
        display: none;
    }

    .imgLandscape {
        display: block;
        width: 100%;
    }

}

@media screen and (max-width:480px) {

    body {
        background-image: url('destination/background-destination-mobile.jpg');
    }

    /* NAVBAR */

    .navbarContainer {
        padding: 1em;
    }

    .navbarLogo {
        width: 3em;
        margin-left: 30px;
    }

    .navbarIcons {
        display: inline-flex;
        margin-right: 40px;
    }

    #close-icon {
        display: none;
    }

    #check:checked ~ .navbarIcons #close-icon {
        display: block;
        color: rgb(240, 240, 240);
        z-index: 9999;
    }

    #check:checked ~ .navbarIcons #menu-icon {
        display: none;
    }

    .navbarBtnContainer {
        position: absolute;
        display: flex;
        align-items: normal;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 25em 1em;
        gap: 3em;
        top: 0%;
        right: 0;
        width: 0;
        overflow: hidden;
        height: 60rem;
        backdrop-filter: blur(10px);
        background: rgba(36, 36, 36, 0.2);
        transition: .3s ease;
        opacity: 0;
    }

    #check:checked ~ .navbarBtnContainer {
        width: 60%;
        opacity: 1;
    }

    .navbarBtnContainer a {
        font-size: 25px;
        display: block;
        position: relative;
        color: rgb(240, 240, 240);
    }

    .btnActive::after {
        bottom: 0px;
        left: 250px;
        width: 10px;
        height: 100%;
    }

    .btnToHover::after {
        bottom: 0px;
        left: 250px;
        width: 10px;
        height: 100%;
        opacity: 0;
    }
    
    .btnToHover:hover::after {
        opacity: 1;
    }

    /* BODY */
    .homeBody {
        margin: 0 0 0 0;
    }

    .TopText {
        font-size: 25px;
        text-align: center;
    }

    /* RIGHT BODY */


}